.app {
    width: 100vw;
    height: 100vh;
    background-color: rgb(213, 149, 255);
    display: grid;
    justify-content: center;
    align-items: center;
}

.app__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    /* width: 50%; */
}

.app__input > input {
    width: 75%;
}

.app__input > textarea {
    width: 75%;
}